<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975078537678-u8nded7fehjb3r0n7begdr0rh2p5sjkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975078537678-u8nded7fehjb3r0n7begdr0rh2p5sjkd</string>
	<key>API_KEY</key>
	<string>AIzaSyDDDlwwC8yRWHmGkqvUbB7RKtOfsK5gCU0</string>
	<key>GCM_SENDER_ID</key>
	<string>975078537678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vensemart.vensemart</string>
	<key>PROJECT_ID</key>
	<string>vensemart-5f9e8</string>
	<key>STORAGE_BUCKET</key>
	<string>vensemart-5f9e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975078537678:ios:a0f932872eb433138b539f</string>
</dict>
</plist>